.header {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header .container {
  position: relative;
  z-index: 800;
  max-width: 1240px;
  margin: 0 auto;
}
.header .container .header__nav {
  display: flex;
  -moz-column-gap: 410px;
       column-gap: 410px;
  height: 25px;
  color: #ffffff;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
}
.header .container .header__nav .header__logo {
  height: 20px;
  width: 70px;
  align-self: center;
}
.header .container .header__nav .header__nav-item {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  color: #ffffff;
  font-size: 18px;
  align-items: center;
}
.header .container .header__nav .header__nav-item .header__item_01 {
  color: #ffffff;
  transition: all 0.2s ease-in;
}
.header .container .header__nav .header__nav-item .header__item_01:hover {
  color: rgba(255, 255, 255, 0.5490196078);
}
.header .container .header__nav .header__nav-item .header__item_02 {
  color: #ffffff;
  transition: all 0.2s ease-in;
}
.header .container .header__nav .header__nav-item .header__item_02:hover {
  color: rgba(255, 255, 255, 0.5490196078);
}
.header .container .header__nav .header__nav-item .header__item_03 {
  color: #ffffff;
  transition: all 0.2s ease-in;
}
.header .container .header__nav .header__nav-item .header__item_03:hover {
  color: rgba(255, 255, 255, 0.5490196078);
}
.header .container .header__nav .header__account {
  display: flex;
  align-items: center;
  z-index: 9;
  color: #ffffff;
}
.header .container .header__nav .header__account .header__icon-account {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.header .container .header__nav .header__account .header__account-p {
  color: #ffffff;
  font-weight: 300;
  font-size: 18px;
  transition: all 0.2s ease-in;
}
.header .container .header__nav .header__account:hover .header__account-p {
  color: rgba(255, 255, 255, 0.5490196078);
}
.header .container .header__social {
  position: absolute;
  display: flex;
  left: -80px;
  top: 210px;
  transform: rotateZ(90deg);
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  height: 77px;
  width: 240px;
}
.header .container .header__social .header__social-p {
  color: #ffffff;
  font-size: 18px;
}
.header .container .header__social .header__icon-instagram {
  background-image: url("/img/header/header__icon-instagram.png");
  width: 20px;
  height: 20px;
  background-size: cover;
  margin-left: 12px;
}
.header .container .header__social .header__icon-twitter {
  background-image: url("../../img/header/header__icon-twitter.png");
  width: 20px;
  height: 20px;
  background-size: cover;
  margin-left: 12px;
}
.header .container .header__title {
  max-width: 950px;
  height: 310px;
  margin: 0 auto;
  align-items: center;
  margin-top: 80px;
}
.header .container .header__title .header__on-title {
  display: flex;
}
.header .container .header__title .header__on-title .header__title-line {
  border: 1px solid;
  color: #FBD784;
  margin-right: 25px;
  width: 72px;
  height: 1px;
  align-self: center;
}
.header .container .header__title .header__on-title .header__comment-title {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 6px;
  color: #FBD784;
}
.header .container .header__title .header__main-title {
  margin-top: 32px;
  margin-bottom: 33px;
  font-size: 88px;
  font-weight: 700;
  line-height: 100px;
  color: #ffffff;
}
.header .container .header__title .header__under-title {
  display: flex;
  width: 115px;
}
.header .container .header__title .header__under-title .header__under-text {
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  margin-right: 15px;
  transition: all 0.2s ease-in-out;
}
.header .container .header__title .header__under-title .header__icon-vector {
  animation: vector-animate 2s infinite linear;
  transition: all 0.2s linear;
}
@keyframes vector-animate {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0px);
  }
}
.header .container .header__title .header__under-title:hover .header__under-text {
  color: rgba(255, 255, 255, 0.5490196078);
}
.header .container .header__title .header__under-title:hover .header__icon-vector {
  animation: none;
}
.header .container .header__slider {
  position: relative;
  display: flex;
  flex-direction: column;
  right: 80px;
  left: 1162px;
  top: -286px;
  width: 77px;
  height: 240px;
  justify-content: center;
}
.header .container .header__slider .header__slider-start {
  color: #ffffff;
  font-size: 18px;
  line-height: 40px;
  display: flex;
  height: 40px;
  margin-left: 1px;
}
.header .container .header__slider .header__slider-start .header__slider-start_title {
  transition: all 0.2s ease-in;
}
.header .container .header__slider .header__slider-start .header__start-line {
  width: 3px;
  height: 40px;
  background-color: #ffffff;
  margin-left: 32px;
  transition: all 0.2s ease-in;
}
.header .container .header__slider .header__slider-start:hover .header__slider-start_title {
  color: rgba(255, 255, 255, 0.5490196078);
}
.header .container .header__slider .header__slider-start:hover .header__start-line {
  background-color: rgba(255, 255, 255, 0.5490196078);
}
.header .container .header__slider .header__slider-01 {
  color: rgba(255, 255, 255, 0.5490196078);
  font-size: 18px;
  line-height: 40px;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
}
.header .container .header__slider .header__slider-01 .header__slider-01_title {
  transition: all 0.2s ease-in;
}
.header .container .header__slider .header__slider-01 .header__slider-01_line {
  width: 3px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5490196078);
  margin-left: 32px;
  transition: all 0.2s ease-in;
}
.header .container .header__slider .header__slider-01:hover .header__slider-01_title {
  color: #ffffff;
}
.header .container .header__slider .header__slider-01:hover .header__slider-01_line {
  background-color: #ffffff;
}
.header .container .header__slider .header__slider-02 {
  color: rgba(255, 255, 255, 0.5490196078);
  font-size: 18px;
  line-height: 40px;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
}
.header .container .header__slider .header__slider-02 .header__slider-02_title {
  transition: all 0.2s ease-in;
}
.header .container .header__slider .header__slider-02 .header__slider-02_line {
  width: 3px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5490196078);
  margin-left: 32px;
  transition: all 0.2s ease-in;
}
.header .container .header__slider .header__slider-02:hover .header__slider-02_title {
  color: #ffffff;
}
.header .container .header__slider .header__slider-02:hover .header__slider-02_line {
  background-color: #ffffff;
}
.header .container .header__slider .header__slider-03 {
  color: rgba(255, 255, 255, 0.5490196078);
  font-size: 18px;
  line-height: 40px;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-left: 4px;
}
.header .container .header__slider .header__slider-03 .header__slider-03_title {
  transition: all 0.2s ease-in;
}
.header .container .header__slider .header__slider-03 .header__slider-03_line {
  width: 3px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5490196078);
  margin-left: 32px;
  transition: all 0.2s ease-in;
}
.header .container .header__slider .header__slider-03:hover .header__slider-03_title {
  color: #ffffff;
}
.header .container .header__slider .header__slider-03:hover .header__slider-03_line {
  background-color: #ffffff;
}
.header .header__bg {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.header .header__bg::after {
  content: "";
  position: absolute;
  background: linear-gradient(347deg, rgba(11, 29, 38, 0) 0%, #0b1d26 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header .header__bg .header__bg-img_02 {
  position: relative;
  transform: translateY(-370px);
  z-index: 1;
}
.header .header__bg .header__bg-decoration {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transform: translateY(-1100px);
  z-index: 2;
}
.header .header__bg .header__bg-decoration::after {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0b1d26 72.28%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=header.css.map */